<% if (theme.donate.enable){ %>
<!-- Modal -->
<div class="modal modal-center modal-xs-full fade" id="donateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="donate-box">
          <div class="donate-tit">
            <p><%= __('donate.title') %></p>
          </div>
          <div class="donate-payimg">
            <img src="<%- url_for(theme.donate.alipay.qrcode) %>" alt="<%= __('donate.qrcode_alt') %>" title="<%= __('donate.qrcode_title') %>" />
          </div>
          <p class="text-muted mv"><%= __('donate.tip') %></p>
          <div class="donate-payselect">
            <div class="pay_item checked" data-id="alipay" data-src="<%- url_for(theme.donate.alipay.qrcode) %>">
              <div class="radio">
                <input type="radio" name="payment" id="input-alipay" value="alipay" checked>
                <label class="pay_logo clickable" for="input-alipay"><img src="<%- url_for(theme.donate.alipay.image) %>" alt="<%= __('donate.alipay') %>" /></label>
              </div>
            </div>
            <div class="pay_item" data-id="weipay" data-src="<%- url_for(theme.donate.weipay.qrcode) %>">
              <div class="radio">
                <input type="radio" name="payment" id="input-weipay" value="weipay">
                <label class="pay_logo clickable" for="input-weipay"><img src="<%- url_for(theme.donate.weipay.image) %>" alt="<%= __('donate.weipay') %>" /></label>
              </div>
            </div>
          </div>
          <div class="text-grey">
            <p><%= __('donate.action') %><span id="donate-pay_txt"><%= __('donate.alipay') %></span><%= __('donate.action_tip') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
