<nav class="bar bar-footer clearfix" data-stick-bottom>
  <% if (post.prev || post.next){ %>
  <ul class="pager pull-left">
    <% if (post.prev){ %>
    <li class="prev">
      <a href="<%- url_for(post.prev.path) %>" title="<%= post.prev.title || '(no title)' %>"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('nav.newer') %></a>
    </li>
    <% } %>
    <% if (post.next){ %>
    <li class="next">
      <a href="<%- url_for(post.next.path) %>" title="<%= post.next.title || '(no title)' %>"><%= __('nav.older') %>&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
    <% } %>
  </ul>
  <% } %>
  <% if (theme.donate.enable){ %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-fancy btn-donate pop-onhover bg-gradient-warning" data-toggle="modal" data-target="#donateModal"><span><%= __('donate.button') %></span></button>
  <% } %>
  <% if (theme.share.enable){ %>
  <div class="bar-right">
    <div class="share-component" data-sites="<%= theme.share.sites %>" data-mobile-sites="<%= theme.share.mobile_sites %>"></div>
  </div>
  <% } %>
</nav>