<section class="sidebar">
  <div class="slimContent">
    <% if(theme.profile.links) { %>
    <div class="widget">
      <h3 class="widget-title">个人链接</h3>
      <div class="widget-body">
        <ul class="list-square lh-2x">
          <% for(var i in theme.profile.links) { %>
          <li>
            <%= i %>:
            <a href="<%- theme.profile.links[i] %>" target="_blank"><%- theme.profile.links[i] %></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.skills) { %>
    <div class="widget">
      <h3 class="widget-title">技能</h3>
      <div class="widget-body">
        <ul class="skill-list lh-2x">
          <% for(var i in theme.profile.skills) { %>
          <li>
            <span><%= i %></span>
            <span class="pull-right"><%- theme.profile.skills[i] %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <div class="widget">
      <h3 class="widget-title">Keywords</h3>
      <div class="widget-body">
        <span class="label label-default mb">PHP</span>
        <span class="label label-default mb">Javascript</span>
        <span class="label label-default mb">HTML+CSS</span>
        <span class="label label-default mb">Git</span>
        <span class="label label-default mb">前端构建</span>
        <span class="label label-default mb">Sublime Text</span>
        <span class="label label-default mb">Gulp</span>
        <span class="label label-default mb">Less</span>
        <span class="label label-default mb">Scss</span>
      </div>
    </div>
    <% if(theme.profile.projects) { %>
    <div class="widget">
      <h3 class="widget-title">Projects</h3>
      <div class="widget-body">
        <ul class="popular-repo list-square lh-2x">
          <% for(var i in theme.profile.projects) { %>
          <li class="public source">
            <a href="<%- theme.profile.projects[i] %>" target="_blank" title="<%= i %>">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target"><%= i %></span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</section>
<section class="main">
  <%- partial('_partial/article-about', {post: page, index: false}) %>
</section>
