<%
  var title = page.title;
  if (is_archive()){
    title = __('page.archive');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  }
%>
<section class="main">
  	<article class="content article article-archives article-type-list" itemscope="">
	    <header class="article-header">
	      <h1 itemprop="title"><% if (title){ %><%= title %><% } %></h1>
	      <p class="text-muted">Total <%= page.posts.length %> articles</p>
	    </header>
	    <div class="article-body">
	      <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
	    </div>
  	</article>
  	<% if (page.total > 1){ %>
	<nav class="bar bar-footer clearfix" data-stick-bottom>
		<ul class="pager pull-left">
		    <%- paginator({
		      prev_text: '<i class="fa fa-angle-left"></i> ' + __('nav.prev'),
      		  next_text: __('nav.next') + ' <i class="fa fa-angle-right"></i>'
		    }) %>
		</ul>
	  	<div class="total-article bar-right">Total <%= site.posts.length %> articles</div>
	</nav>
	<% } %>
</section>
