<section class="main">
  <article class="content article article-categories article-type-list" itemscope="">
    <header class="article-header">
      <h1 itemprop="name" class="hidden-xs"><%= __('page.category') + ': ' + page.category; %></h1>
      <p class="hidden-xs">Total <%= page.posts.length %> articles</p>
      <nav role="navigation" id="nav-main" class="okayNav">
        <ul>
          <li><a href="/categories">All</a></li>
          <% site.categories.each(function(item){ %>
          <li><a href="/<%= item.path %>"><%= item.name %></a></li>
          <% }) %>
        </ul>
      </nav>
    </header>
    <!-- /header -->
    <div class="article-body">
      <%- partial('_partial/archive-category', { type: 'category' }) %>
    </div>
  </article>
  <% if (page.total > 1){ %>
  <nav class="bar bar-footer clearfix" data-stick-bottom>
    <ul class="pager pull-left">
      <%- paginator({
        prev_text: "&laquo; __('pagination.prev')",
        next_text: "__('pagination.next') &raquo;"
      }) %>
    </ul>
    <div class="total-article bar-right">Total <%= page.posts.length %> articles</div>
  </nav>
  <% } %>
</section>
