<%- partial('_common/head') %>
<% var bodyClass = page.sidebar === 'none' ? 'main-center no-sidebar' : 'main-center'; %>
<body class="<%= bodyClass %>">
  <%- partial('_common/header', null, {cache: !config.relative_link}) %>
  <% if (theme.sidebar && (page.sidebar!='none' || page.sidebar!='custom')){ %>
    <%- partial('_common/sidebar', null, {cache: !config.relative_link}) %>
  <% } %>
  <%- body %>
  <%- partial('_common/script') %>
</body>
</html>