<%- partial('_partial/head') %>
<body class="main-center">
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  <% } %>
  <section class="main"><%- body %></section>     
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</body>
</html>