<section class="main">
  <article class="article article-tags post-type-list" itemscope="">
    <header class="article-header">
      <h1 itemprop="name" class="hidden-xs"><%= __('page.'+page.title.toLowerCase()) %></h1>
      <p class="text-muted hidden-xs"><%= _p('total.tag', site.tags.length) %></p>
      <nav role="navigation" id="nav-main" class="okayNav">
        <ul>
          <li><a href="/tags">All</a></li>
          <% site.tags.each(function(item){ %>
          <li><a href="/<%= item.path %>"><%= item.name %></a></li>
          <% }) %>
        </ul>
      </nav>
    </header>
    <!-- /header -->
    <div class="article-body">
      <% site.tags.each(function(item){ %>
      <h3 class="panel-title mb-1x">
        <a href="<%- url_for(item.path) %>" title="#<%= item.name %>"><i class="fa fa-tag"></i> #<%= item.name %></a>
        <small class="text-muted">(Total <%= item.posts.length %> articles)</small>
      </h3>
      <div class="row">
        <% item.posts.each(function(post, i){ %>
        <div class="col-md-6">
          <article class="panel panel-default shadow-hover">
            <div class="panel-body">
              <div class="article-meta">
                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
              </div>
              <h3 class="article-title" itemprop="name">
                <a class="article-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
              </h3>
            </div>
            <% if (post.tags){ %>
            <div class="panel-footer">
              <% post.tags.each(function (tag) { %>
              <a href="<%- url_for(tag.path) %>" class="label label-default mb"><%= tag.name %></a>
              <% }); %>
            </div>
            <% } %>
          </article>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </article>
</section>
