<article class="article article-type-<%= post.layout %>">
  <header class="article-header">
    <%- partial('post/title', {class_name: 'article-title'}) %>
  </header>
  <div class="article-entry text-muted">
    <%- post.excerpt %>
  </div>
  <p class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: 'MMM D'}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </p>
</article>
