<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></div></div></section>
      <% } %>
      <% last = year; %>
      <section class="panel panel-default b-no">
        <div class="panel-heading" role="tab">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse<%= year %>" aria-expanded="true">
              <i class="icon icon-calendar-plus text-active"></i><i class="icon icon-calendar-minus text"></i>
              <%= year %>
            </a>
            <!-- <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a> -->
          </h3>
        </div>
        <div id="collapse<%= year %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= year %>">
        <div class="panel-body">
          <div class="collection">
    <% } %>
    <%- partial('item-post', {post: post, type: 'link', even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></div></div></section>
  <% } %>
<% } %>