<% if (type == 'link'){ %>
<a href="<%- url_for(post.path) %>" class="collection-item" target="_blank" itemprop="url">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
  <span>&nbsp;&nbsp;&nbsp;</span> <%= post.title %>
</a>
<% } else if (type == 'card'){ %>
<article class="panel panel-default hover-shadow hover-grow" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="panel-body">
     <div class="article-meta">
       <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
     </div>
     <h3 class="article-title" itemprop="name">
       <a class="article-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
     </h3>
   </div>
   <% if (post.tags){ %>
   <div class="panel-footer">
     <% post.tags.limit(3).each(function (tag) { %>
      <a href="<%- url_for(tag.path) %>" class="label label-default mb"><%= tag.name %></a>
     <% }); %>
     <% if (post.tags.length > 3){ %>
      <span class="label label-default mb">···</span>
     <% }; %>
   </div>
   <% } %>
</article>
<% } else { %>
<a href="<%- url_for(post.path) %>" class="collection-item" target="_blank" itemprop="url">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
  <span>&nbsp;&nbsp;&nbsp;</span> <%= post.title %>
</a>
<% } %>
