<div class="search" id="search-form-wrap">
<% if (theme.search.insight) { %>
    <form class="search-form sidebar-form">
        <div class="input-group">
            <input type="text" class="search-form-input form-control" placeholder="<%= __('widget.search') %>" />
            <span class="input-group-btn">
                <button type="submit" class="search-form-submit btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <%- partial('_search/insight') %>
<% } else if (theme.search.swiftype) { %>
    <form class="search-form">
        <div class="input-group">
        <input type="text" class="st-default-search-input search-form-input form-control" placeholder="<%= __('widget.search') %>" />
        <span class="input-group-btn">
            <button type="submit" class="search-form-submit btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
        </div>
    </form>
    <%- partial('_search/swiftype') %>
<% } else if (theme.search.baidu) { %>
    <%- partial('_search/baidu') %>
<% } else { %>
    <%- search_form({ button: ' ', text: __('widget.search') }) %>
<% } %>
</div>