<!-- 引入不蒜子站点统计 -->
<% if(theme.site.visitor) { %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>

        <!-- 站点点击数访客数统计 -->
    <div class="publishby">
        <% if(theme.site.visitor) { %>
            <span id="busuanzi_container_site_pv">
                点击<span id="busuanzi_value_site_pv" style="font-family:Courier"></span>次，
                访客<span id="busuanzi_value_site_uv" style="font-family:Courier"></span>人<br />
            </span>

        <!-- 站点建立时间标签，放在哪就在哪显示，不过要放在下面这个函数前面 -->
            <span id="sitetime"></span>
        <% } %>
        <% } %>
        <!-- 站点成立时间 -->
        <% if(theme.site.site_time.enable) { %>
            <%- partial('_purabo/site_time') %>
        <% } %>
    </div>

        

        <!-- 主题作者信息 -->
        <div class="publishby">
        	<% if(theme.site.theme_author) { %>
                <%= __('copyright.theme_by') %> <a href="https://github.com/abobot" target="_blank"> abobot </a><%= __('copyright.base_on') %> <a href="https://github.com/abobot/hexo-theme-purabo" target="_blank">purabo</a>.
            <% } %>
        </div>
    </div>
</footer>