<footer class="footer" id="LeftFooter" itemscope itemtype="https://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
    <span id="busuanzi_container_site_uv">
       | 总访客: <span id="busuanzi_value_site_uv">0</span>
    </span>
        <div class="publishby">
        	<%= __('copyright.powered_by') %> <a href="https://hexo.io/" target="_blank"> Hexo </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure" target="_blank">pure</a>.
        </div>
    </div>
</footer>
