<!-- 引入不蒜子站点统计 -->
<% if(theme.site.visitor) { %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>

        <!-- 站点点击数访客数统计 -->
    <div class="publishby">
        <% if(theme.site.visitor) { %>
            <span id="busuanzi_container_site_pv">
                点击<span id="busuanzi_value_site_pv" style="font-family:Courier"></span>次，
                访客<span id="busuanzi_value_site_uv" style="font-family:Courier"></span>人<br />
            </span>

        <!-- 站点建立时间标签，放在哪就在哪显示，不过要放在下面这个函数前面 -->
            <span id="sitetime"></span>
        <% } %>
        <% } %>
        <!-- 站点成立时间 -->
        <% if(theme.site.site_time.enable) { %>
            <script>
                var site_time = "<%= theme.site.site_time.date %>"  + "T" + "<%= theme.site.site_time.time %>"  + "Z"
                // console.log("site_time:" + site_time)
            function siteTime(){
                window.setTimeout("siteTime()", "<%= theme.site.site_time.frequency %>");
                var seconds = 1000;
                var minutes = seconds * 60;
                var hours = minutes * 60;
                var days = hours * 24;
                var years = days * 365;
                var today = new Date();
                var todayYear = today.getFullYear();
                // var todayMonth = today.getMonth()+1;
                var todayMonth = today.getMonth();
                var todayDate = today.getDate();
                var todayHour = today.getHours();
                var todayMinute = today.getMinutes();
                var todaySecond = today.getSeconds();
                /* Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
                year - 作为date对象的年份，为4位年份值
                month - 0-11之间的整数，做为date对象的月份
                day - 1-31之间的整数，做为date对象的天数
                hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
                minutes - 0-59之间的整数，做为date对象的分钟数
                seconds - 0-59之间的整数，做为date对象的秒数
                microseconds - 0-999之间的整数，做为date对象的毫秒数
                */
                var t1 = Date.parse(site_time); //t1为建站时间
                // console.log("t1:",t1)
                var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
                // console.log("t2:" + t2);
                var diff = t2-t1;
                var diffYears = Math.floor(diff/years);
                var diffDays = Math.floor((diff/days)-diffYears*365);
                var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
                var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
                var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
                var tempYear = "";
                if(diffYears)tempYear=diffYears + "年";else tempYear;
                var s ="已运行"+ tempYear + diffDays+"天"+diffHours+"小时"+diffMinutes+"分钟"+diffSeconds+"秒";
                // console.log(s);
                document.getElementById("sitetime").innerHTML= "已运行" + tempYear + diffDays+"天"+diffHours+"小时"+diffMinutes+"分钟"+diffSeconds+"秒" ;
            }
                siteTime();
        </script>
        <% } %>
    </div>

        

        <!-- 主题作者信息 -->
        <div class="publishby">
        	<% if(theme.site.theme_author) { %>
                <%= __('copyright.theme_by') %> <a href="https://github.com/abobot" target="_blank"> abobot </a><%= __('copyright.base_on') %> <a href="https://github.com/abobot/hexo-theme-purabo" target="_blank">purabo</a>.
            <% } %>
        </div>
    </div>
</footer>