<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
<%- js('js/plugin.min') %>
<%- js('js/application') %>
<%- js('js/gotop') %>
<%- partial('_script/search') %>
<% if (page.layout === 'repository'){ %>
   <%- partial('_script/repository') %>
<% } %>
<% if (page.layout === 'books'){ %>
   <%- partial('_script/douban') %>
<% } %>
<% if (!is_home() && !is_category() && !is_tag() && !is_archive() && post.comments) { %>
   <%- partial('_script/comment') %>
<% } %>
<%- partial('_script/pv') %>
<%- partial('_script/fancybox') %>
<%- partial('_script/analytics') %>
<div id="go-top"></div>